/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:46e2bc34aa9f647977e4639bbafd78c9:82b7556fe647bf1054d109c585ee22d4:db4702caf2029946dca1c4822af0970d$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(textures.png);}

.nut {width:87px; height:124px; background-position: -1283px -664px}
.sq_c {width:425px; height:329px; background-position: -856px -664px}
.sq_d {width:425px; height:329px; background-position: -1283px -333px}
.sq_dl {width:425px; height:329px; background-position: -856px -333px}
.sq_dr {width:425px; height:329px; background-position: -1283px -2px}
.sq_giggle {width:425px; height:329px; background-position: -856px -2px}
.sq_l {width:425px; height:329px; background-position: -429px -664px}
.sq_nut {width:425px; height:329px; background-position: -429px -333px}
.sq_r {width:425px; height:329px; background-position: -429px -2px}
.sq_u {width:425px; height:329px; background-position: -2px -664px}
.sq_ul {width:425px; height:329px; background-position: -2px -333px}
.sq_ur {width:425px; height:329px; background-position: -2px -2px}
